.content-padding {
  padding: 20px 210px;
  background-color: #efeef3;

}

.about-link {
  display: flex;
  flex-direction: column;
}

span {
  font-weight: 300;
}
span.header {
  font-size: 1.2em;
  margin: 5px 0;
}

.charts {
  padding: 20px 210px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.about-clicks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5px black solid;
  padding: 5px;
}

.timeframe {
  display: flex;
  flex-direction: column-reverse;
}

.timeframe-row {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

.total {
  padding: 5px;
  font-size: 0.8em;
  margin: auto;
}

span.clicks {
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}


.charts > .half-chart {
  width: 50%;
  min-height: 400px;
}

.charts > .full-chart {
  width: 100%;
  min-height: 300px;
}

.full-chart-about {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

.today {
  width: 100%;
  padding-top:  25%;
  text-align:center;
  font-weight: bold;
  font-size: 4em;
  color: #3f51b5;
}



@media only screen and (max-width: 1000px) {
  .charts > .half-chart {
    width: 100%;
    min-height: 400px;
  }

  .charts > .full-chart {
    width: 100%;
    min-height: 300px;
  }
  .charts {
    padding: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }
}
