<div class="charts" *ngIf="data">
  <div class="full-chart" *ngIf="data.timeline">
    <div class="full-chart-about">
      <div class="about-clicks">
        <span class="total">Total clicks</span>
        <span class="clicks" (click)="getClicks()">{{clicks | json}}</span>
      </div>
      <div class="timeframe"><div class="timeframe-row">group by  <span style="font-weight: bold">1 min</span></div> </div>
    </div>
    <ngx-charts-line-chart
      *ngIf="data.timeline"
      [results]="[data.timeline]"
      [scheme]="colors"
      timeline="true"
      xAxis="true"
      yAxis="true"
      yAxisLabel="timeline"
      showYAxisLabel="true"
    >
    </ngx-charts-line-chart>
  </div>
  <div class="half-chart">
    <div>
      <div>OS</div>
      <mat-divider></mat-divider>
    </div>
    <ngx-charts-pie-chart
      [results]="data.os"
      [scheme]="colors"
      labels="true"
    ></ngx-charts-pie-chart>
  </div>
  <div class="half-chart">
    <div>Browsers</div>
    <mat-divider></mat-divider>

    <ngx-charts-bar-horizontal
      [results]="data.platform"
      [scheme]="colors"
      yAxis="true"
    >
    </ngx-charts-bar-horizontal>
  </div>
  <div class="half-chart">
    <div>Referers</div>
    <mat-divider></mat-divider>
    <ngx-charts-pie-chart
      [results]="data.referer"
      [scheme]="colors"
      labels="true"
    >
    </ngx-charts-pie-chart>
  </div>
  <div class="half-chart">
    <div>Today</div>
    <mat-divider></mat-divider>
    <div class="today" *ngIf="data.timeline.series.length != 0">
      {{data.precentTodayClicks}}% | {{data.todayClicks}}
    </div>

  </div>
</div>

{{data.todayClicks | json}}
