.nav-bar-left-side {
  width: 200px;
  justify-content: flex-end;
  cursor: pointer;
}


.flex-box {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  flex-direction: row;
  padding: 2% 0;
}

.flex-box > div {
  line-height: 75px;
  font-size: 30px;
}

div.nav-bar-left-side {
  text-align: end;
  padding-right: 10px;
}
.nav-bar-right-side {
  width: 10em;
  cursor: pointer;
  color: #757575;
}

span {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auth {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-end;
}

a {
  margin: 0 10px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
    div.nav-bar-left-side {
      width: 100%;
      text-align: center;
      margin: auto;
    }
    .nav-bar-right-side {
      width: 100%;
      text-align: center;
    }
}
