<div class="auth">
  <div class="auth-panel">
    <a *ngIf="!auth" routerLink="/login">login</a>
    <a *ngIf="auth">{{auth.username}}</a>
    <a *ngIf="auth" (click)="logout()">logout</a>
    <a *ngIf="!auth" routerLink="/registration">registration</a>
  </div>
</div>
<div  class="flex-box">
  <div class="nav-bar-left-side" routerLink="/" >
    <span style="color: dodgerblue">Y</span>
    <span style="color: red">a</span>
    <span style="color: yellow">n</span>
    <span style="color: dodgerblue">d</span>
    <span style="color: green">e</span>
    <span style="color: red">x</span>
  </div>
  <div class="nav-bar-right-side" routerLink="/">URL Shortener</div>
</div>
