<mat-card>
  <p align="center" class="logo" routerLink="/">
    <span style="color: dodgerblue">Y</span>
    <span style="color: red">a</span>
    <span style="color: yellow">n</span>
    <span style="color: dodgerblue">d</span>
    <span style="color: green">e</span>
    <span style="color: red">x</span>
  </p>
  <p  align="center" class="sign-in">Регистрация</p>
  <p align="center" class="google-account">Создайте аккаунт Яндекс</p>
  <form class="form">

    <mat-form-field id="login" class="full-width">

      <input  matInput placeholder="Адрес эл.почты" [formControl]="login">

    </mat-form-field>
    <label *ngIf="!login.valid && press" for="login">
      Not correct email
    </label>
    <label *ngIf="press && status" for="login">
      Email is exist
    </label>

    <mat-form-field class="full-width">
      <input id="password" matInput placeholder="Пароль" type="password" [formControl]="password">
    </mat-form-field>
    <label *ngIf="!password.valid && press" for="password">
      min 8
    </label>
  </form>


  <div class="buttons">
    <button mat-button color="primary" routerLink="/login">Войти</button>
    <button  mat-raised-button color="primary" (click)="singUp()">Создать аккаунт</button>
  </div>
</mat-card>

