.flex-box {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
  flex-direction: column;
  padding: 2em 210px ;
  color: #757575;
  //background-color: red;
  //color: white;
}

.warning {
  margin: 20px 0;
  background-color: #f9eebc;
  border-radius: 25px;
  padding: 20px;
  font-style: italic;
}

.icon-link {
  width: 2em;
  height: 2em;
  line-height: 70px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin: 0 auto 40px;
}

.link-color {
  color: #29b6f6;
  background-color: #e1f5fe;
}

.content {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.content > .content-item {
  width: 29%;
  padding-right: 2%;
}

.header {
  padding-top: 25px;
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
.item {
  display: flex;
  flex-direction: row;
}

.track-color {
  color: #ba68c8;
  background-color: #ede7f6;
}

.people-color {
  color: #9ccc65;
  background-color: #f1f8e9;
}


.developer {
  margin-top: 20px;
  background-color: #f0f3f4;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  color: #757575;
}
img {
  width: 64px;
  height: 64px;
  padding: 10px 2px;
}

.icon-link-firebase {
  //color: #366ed1;
  font-size: 15px;
  padding-top: 2px;
}

a {
  color: #366ed1;
}
h2 {
  line-height: 10px;
}

@media only screen and (max-width: 989px) {
  .flex-box {
    padding: 40px;
  }
}

@media only screen and (max-width: 673px) {
  .content > .content-item {
    width: 100%;
    margin-top: 10px;
  }
  .developer {
    flex-direction: column;
  }
  img {
    text-align: center;
    margin: auto;
  }
}
