<div class="flex-box">

  <div class="warning">
    <mat-icon>warning</mat-icon>
    Starting March 30, 2018, we will be turning down support for yand.ex URL shortener. From
    only existing users will be able to create short links on the yand.ex console. You will be able to view your analytics data and download your short link information in csv format for up to one year, until
    , when we will discontinue yand.ex. Previously created links will continue to redirect  to their intended destination. Please see this
    <a href="//developers.googleblog.com/2018/03/transitioning-google-url-shortener.html">
      blog post
      for more details.
    </a>
  </div>
  <div class="content">
    <div class="content-item">
      <div  class="item">
        <div class="icon">
          <mat-icon class="icon-link link-color">link</mat-icon>
        </div>
        <div class="header">
          Shorten
        </div>
      </div>
      Analytics help you know where your clicks are coming from
    </div>
    <div class="content-item">
      <div  class="item">
        <div class="icon">
          <mat-icon class="icon-link track-color">trending_up</mat-icon>
        </div>
        <div class="header">
          Track
        </div>
      </div>
      Analytics help you know where your clicks are coming from
    </div>
    <div class="content-item">
      <div  class="item">
        <div class="icon">
          <mat-icon class="icon-link people-color">people</mat-icon>
        </div>
        <div class="header">
          Learn
        </div>
      </div>
      Understand and visualize your audience
    </div>
  </div>
  <div class="developer">
    <img src="https://goo.gl/static/Firebase.png" class="firebase">
    <div class="about-firebase">
      <h2>Are you an app developer?</h2>
      <span>Use Firebase Dynamic Links to deep link users directly into your app.<a href="//firebase.google.com/docs/dynamic-links/" >Learn More <mat-icon class="icon-link-firebase">open_in_new</mat-icon></a></span>
    </div>
  </div>

</div>
