a {
  margin: 20px 0;
}

div {
  margin: 20px 0 !important;
}

.actions {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

div {
  color: #767676;
}

.button-close {
  width: 100%;
}
