<div *ngIf="data.shortCode">
  <h4>Short URL</h4>

  <a [href]="host">{{data.shortCode}}</a>
  <div>
    <qrcode [qrdata]="host"></qrcode>
  </div>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
  </div>

</div>
<div *ngIf="!data.shortCode">
  <mat-icon align="center">warning</mat-icon>
  <h1>URL is exist</h1>

  <!--<a [href]="host">{{data.shortCode}}</a>-->
  <!--<div>-->
    <!--<qrcode [qrdata]="host"></qrcode>-->
  <!--</div>-->

  <div class="actions">
    <button mat-raised-button class="button-close" color="primary" (click)="closeDialog()">close</button>
  </div>

</div>
