mat-card {
  width: 25%;
  margin: 10% auto;
  align-content: center;
  padding: 50px;
}
.logo {
  //margin: auto;
  //align-content: center;
  //width: 50px;
  cursor: pointer;
  font-size: 2em;
}
.full-width {
  width: 100%;
  margin: 20px 0;
}

.form {
  width: 100%;
  line-height: 0;
  margin: 20px 0;
}
label {
  color: red;
}

.sign-in {
  font-size: 2em;
}
.google-account {
  font-size: 1.2em;
}
.google-secure {
  color: #5f6368;
  margin: 40px 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin: 40px 0;
}

@media only screen and (min-width: 1600px){
  mat-card {
    width: 20%;
  }
}


@media only screen and (max-width: 1024px){
  mat-card {
    width: 30%;
  }
}
@media only screen and (max-width: 836px){
  mat-card {
    width: 40%;
  }
}
@media only screen and (max-width: 668px){
  mat-card {
    width: 50%;
  }
}
