<mat-card>
  <p align="center" class="logo" routerLink="/">
    <span style="color: dodgerblue">Y</span>
    <span style="color: red">a</span>
    <span style="color: yellow">n</span>
    <span style="color: dodgerblue">d</span>
    <span style="color: green">e</span>
    <span style="color: red">x</span>
  </p>
  <p  align="center" class="sign-in">Вход</p>
  <p align="center" class="google-account">Используйте аккаунт Google</p>
  <form class="form">

    <mat-form-field id="login" class="full-width">

      <input  matInput placeholder="Адрес эл.почты" [formControl]="login">

    </mat-form-field>
    <label *ngIf="!login.valid && press" for="login">
      Not correct email
    </label>

    <label *ngIf="press && status" for="login">
      Parol' ili email is not correct!
    </label>

    <mat-form-field class="full-width">
      <input id="password" matInput placeholder="Пароль" type="password" [formControl]="password">
    </mat-form-field>
    <label *ngIf="!password.valid && press" for="password">
      min 8
    </label>
  </form>
  <span class="google-secure">Работаете на чужом компьютере? Включите гостевой режим.
    <a href="https://support.google.com/chrome/answer/6130773?hl=ru">Подробнее…</a></span>

  <div class="buttons">
    <button mat-button color="primary" routerLink="/registration">Создать аккаунт</button>
    <button  mat-raised-button color="primary" (click)="singIn()">Войти</button>
  </div>
</mat-card>

