<div class="flex-box">
  <div class="title">
    Simplify your links
  </div>
  <div class="flex-description">
    <div class="flex-input">
      <input *ngIf="!auth" routerLink="/login" placeholder="Your original URL here" [formControl]="shortInput" type="text">
      <input *ngIf="auth" placeholder="Your original URL here" [formControl]="shortInput" type="text">
      <button mat-raised-button (click)="generateUrl()"  color="basic">Shorter URL</button>
      <span [hidden]="!status">url is not correct</span>
    </div>
    <span class="description"> All yand.ex URLs and click analytics are public and can be accessed by anyone</span>
  </div>

</div>
