.flex-box {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
  flex-direction: column;
  padding-left: 210px;
  background-color: #366ed1;
  padding-top: 2em;
  color: white;
  padding-bottom: 2em;
  //padding: 2% 0;
}

.flex-box > div {
  line-height: 50px;
  font-size: 30px;
}


.flex-input {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 100;
}
.flex-input > button {
  margin-left: 10px;
}

.title {
  padding: 20px 0;
}

.description {
  font-size: 15px;
}

.flex-description {
  display: flex;
  flex-direction: column;
  line-height: 1px;
}
button {
  color: #366ed1;
}
input {
  width: 50%;
  padding: 10px 10px;
  font-size: 12px;
}

@media only screen and (max-width: 989px) {
  .flex-box {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 736px) {
  .flex-box {
    padding: 40px;
  }
  .flex-input {
    width: 100%;

  }
  .flex-input > button {
    margin: 5px 0;
  }
  input {
    width: 100%;
  }
  button {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
