<app-header></app-header>
<div class="content-padding">
  <div class="about-link" *ngIf="about">
    <span class="header">Analytics data for  <a href="https://localhost:2500/q/{{about.shorCode}}">yand.ex/q/{{about.shortCode}}</a></span>
    <span class="created">Created at {{about.time}}</span>
    <span class="original">Original URL <a href="{{about.origin}}">{{about.origin}}</a></span>
  </div>


</div>
<app-chart [data]="data"></app-chart>

