
table {
  width: 100%;
}
.menu-setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  color: #29b6f6;
}
div {
  width: auto;
}
.table-links {
  //display: flex;
  //flex-direction: column;
  margin: 20px 211px;
  padding-top: 10px;
  //max-height: 500px;
  //min-width: 300px;
  //width: 100%;
}
//
//.mat-table {
//  overflow: auto;
//  max-height: 500px;
//}
//
//.mobile-label {
//  display: none;
//}
//
//.mat-table {
//  overflow: auto;
//  //max-height: 500px;
//}

@media only screen and (max-width: 500px) {
  //.mobile-label {
  //  width: 80px;
  //  display: inline-block;
  //  font-weight: bold;
  //}
  //
  //.mat-header-row {
  //  display: none;
  //}
  //
  //.mat-row {
  //  flex-direction: column;
  //  align-items: start;
  //  padding: 8px 24px;
  //}

  .responsive_table {
    overflow-x: auto !important;
    //font-size: 0.5em;
  }

  .mat-table {
    min-width:150px !important;
  }
}


@media only screen and (max-width: 989px) {
  .table-links {
    margin: 40px 40px;
  }
}

@media only screen and (max-width: 736px) {
  .table-links {
    margin: 40px 40px;
  }
  table {
    width: 100%;
  }
}
