<div class="table-links responsive_table mat-elevation-z1">
  <div >


    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef> Origin URL </th>
        <td mat-cell *matCellDef="let element"> <a  [href]="element.position">{{element.origin}} </a> </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="short">
        <th mat-header-cell *matHeaderCellDef> Short URL </th>
        <td mat-cell *matCellDef="let element">
          <a href="/q/{{element.shortCode}}">yand.ex/q/{{element.shortCode}}</a>
          <!--<mat-icon>info</mat-icon>-->
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="clicks">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="menu-setting">
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="analyticView(element)" mat-menu-item>
                  <span>Analytics Data</span>
                </button>
                <button mat-menu-item (click)="getQR(element.shortCode)">
                  <span>QR Code</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

  </div>

</div>
