/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  a {
    color: #3f51b5;
    text-decoration: none;
  }
  *:focus {
    outline: none !important;
  }
}
